.prompt
  margin: 0
  padding: 0 0.5em
  display: flex
  color: #8fbcbb

  input
    background: none
    border: none
    color: #8fbcbb
    font-family: inherit
    font-size: inherit
    margin: 0 1em 1px 0.5em
    appearance: none
    padding: 0
    outline: 0
    flex-grow: 1
    &:focus
      margin: 0 1em 0 0.5em
      border-bottom: solid 1px #8fbcbb
    &:focus::before
      border-bottom: solid 1px #8fbcbb
      
    
  button
    color: #8fbcbb
    background: none
    border: none
    font-family: inherit
    font-size: inherit
    padding: 0
    border-bottom: solid 1px #8fbcbb

    &:hover
      border-bottom: solid 1px #8fbcbb